body { background: #9d183d; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 10px; display: flex; }
.block-invoice-0 { color: #64e3a0; font-size: 17px; margin-bottom: 5px; }
.block-notify-1 { color: #c83394; font-size: 15px; margin-bottom: 5px; }
.block-config-2 { color: #deef41; font-size: 17px; margin-bottom: 5px; }
.block-user-3 { color: #7d7a19; font-size: 14px; margin-bottom: 5px; }
.block-shipping-4 { color: #bd80c2; font-size: 15px; margin-bottom: 5px; }